# Ignore files that shouldn't be shared
.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/types.json
.obsidian/graph.json

# Ignore everything within .obsidian/ 
#####.obsidian/*

# Include files that should be shared
!.obsidian/app.json
!.obsidian/daily-notes.json

# Include everything within .obsidian/plugins
!.obsidian/plugins/
!.obsidian/plugins/*
!.obsidian/plugins/**

# Syncthing folder marker
.stfolder/
# Syncthing trashbin
.stversions/
!.stignore


# Things that dont need to be uploaded
lazygit.exe
*.eje
*.env